<div class="container-center">
  <div class="container-over">
    <button mat-icon-button
            color="primary"
            i18n-matTooltip="@@quote_view_suggest" matTooltip="Suggest change"
            aria-label="Button to suggest a new change into quote"
            (click)="openDialog()">
      <mat-icon>border_color</mat-icon>
    </button>
  </div>
  <div class="column">
    <div [@fadeInOut]="randomQuote" *ngIf="randomQuote !== undefined">
      <h1 class="quote-text">
        {{messsage}}
      </h1>
      <div class="row">
        <img class="circle-img" src="{{randomQuote?.author?.picUrl || 'assets/images/profile.png' }}"
             alt="Photo of author">
        <h3 class="author">{{randomQuote?.author?.name || "Unknow"}}</h3>
      </div>
    </div>
    <div class="row margin-button">
      <div class="button-container">
        <button mat-fab color="primary" (click)="getRandomQuote()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

