@import "../../styles/screen_size";

div.container-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1.quote-text {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  text-align: center;
  line-height: 1.2;

  @include mobile-only {
    font-size: 35px;
  }
}

h3.author {
  font-size: 15px;
  margin: 0px 0px 0px 10px;

  @include mobile-only {
    font-size: 13px;
  }
}

img.circle-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

div.column {
  flex-direction: column;
  padding: 50px;

  @include mobile-only {
    padding: 30px;
  }
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

div.margin-button {
  margin-top: 90px;
  @include mobile-only {
    margin-top: 40px;
  }
}

div.container-over {
  height: 95%;
  display: flex;
  z-index: 0;
  justify-content: flex-end;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 95%;
}
