@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&family=Tangerine:wght@400;700&display=swap');


.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-sacramento {
    font-family: 'Sacramento', cursive;
}

.font-tangerine {
    font-family: 'Tangerine', cursive;
}

.font-light {
    font-weight: lighter;
}

.font-bold {
    font-weight: bold;
}